@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
    background-color: black;
}


/* +------------------------
   | Navbar Styling
   +------------------------ */
header a{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-size: 20px;
}

header .navbar-brand{
    font-size: 25px;
    color: whitesmoke;
    font-family: 'Bungee', cursive;
}

header .btn{
    margin-left: -5px;
}

.navbar{
    padding-top: 2.3rem;
    margin: -14px;
}

.navbar-nav{
    margin-left: auto;
}

.nav-item{
    margin-right: 30px;
}

.bg-light{
    background-color: transparent !important;
}

.bg-light.scrolled{
    background-color: rgba(0, 0, 0, 0.85) !important;
    padding-bottom: 20px;
}

.bg-search{
    background-color: rgba(0, 0, 0, 0.85);
    padding-bottom: 20px;
}

/* +------------------------
   | Header Styling
   +------------------------ */

header{
    height: 100%;
    background-image:url(images/background.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

header .row .col-md-6{
    padding: 35vmin 1vmin;
    padding-bottom: 40vmin;
}

.col-md-6 h4{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 22px;
    text-shadow: 2px 2px 4px black
}

.col-md-6 h1{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 300;
}

.col-md-6 h1 span{
    font-weight: bold;
}

.series h3{
    color: white;
}



/* +------------------------
   | Carousel Styling
   +------------------------ */

.carousel{
    margin-top: 50px;
    margin-bottom: 80px;
}

.carousel img{
    filter: brightness(50%)
}

.carousel-caption{
    text-align: left;
    font-size: 20%;
    position: absolute;
    bottom: 29%;
    right: 40%;
    z-index: 20;
}

.carousel h4{
    font-weight: lighter;
    color: #C5C5C5;
    margin-bottom: 10px;
}

.carousel h1{
    color: whitesmoke;
    font-size: 50px;
    margin-bottom: 15px;
}

.carousel h5{
    margin-top: 80px;
    margin-bottom: 20px;
    color: whitesmoke;
}


/* +------------------------
   | Pagination Styling
   +------------------------ */

.pagination li a{
    background-color: black;
    color: white;
    border-color: black;
    font-size: 20px;
}


/* +-------------------------
   | "Popular" Movies Styling
   +------------------------- */

.movies h6{
    margin-top: 10px;
    color: whitesmoke;
    font-size: 15px;
}

.movies h4{
    color: rgb(148, 148, 148);
    font-size: 14px;
}

.movies img{
    margin-top: 30px;
    transition: .1.5s ease;   
}

.movies img:hover{   
    opacity: 0.5;
}


/* +------------------------
   | Modal Styling
   +------------------------ */

.modal-content{
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    background-color: rgba(26, 26, 26, 0.85);
    background-blend-mode: darken;
    height: 650px;
    padding-right: 40px;
}

.info-layout{
    margin-top: 30px;
    
}

.modal img{
    width: 435px;
    height: 650px;
    margin-left: -15px;
}

.modal #genre{
    margin-top: 20px;
    color: #C5C5C5;
    font-size: 20px;
    font-weight: lighter;
}

.modal #title{
    color: whitesmoke;
    font-weight: bold;
}

.modal #rating{
    color: #C5C5C5;
    font-weight: lighter;
}

.modal #overview-text{
    margin-top: 45px;
    color: whitesmoke;
    font-weight: bold;
}

.modal #overview{
    color: whitesmoke;
    font-weight: lighter;
    font-size: 15px;
}

.modal #release{
    color: whitesmoke;
    font-weight: lighter;
    margin-top: 45px;
}

.modal #more-info{
    margin-top: 45px; 
}

.modal .video{
    margin-left: -32px;
    width: 1157;
    height: 650; 
}

.modal #trailer_not_avail{
    width: 1157px;
    height: 650px;
    margin: 0px;
}


/* +------------------------
   | Others
   +------------------------ */
   
/* | Text Styling */
#header_button{
    margin-top: 10px;
}

/* | Footer Styling */
footer{
    margin-top: 10rem;
}

/* | Search Page */
#results{
    margin-top: 12rem;
    color: whitesmoke;
    font-size: 22px;
}


/* +------------------------
   | Details Styling
   +------------------------ */

.details-header{
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;  
}

.details-header .row .col-md-9{
    padding: 5vmin 1vmin;
    padding-bottom: 30vmin;
}

#details-genre{
    margin-top: 570px;
    color: rgb(212, 212, 212);
    font-size: 30px;
    font-weight: lighter;
}

#details-title{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 70px;
    font-weight: bold;
}
#d-poster{
    width: 200px;
    height: auto;
}


#details-release, #details-rating, #details-overview-text{
    color: whitesmoke;
    font-weight: bold;

}

#details-rating{
    text-align: right;
}

#details-overview, #details-release span, #details-rating span, #details-text{
    color: whitesmoke;
    font-weight: lighter;
}

#line{
    border: 1px solid white;
    opacity: 1;
    margin: 20px 0px 20px;
}

#trailer_not_avail{
    width: 1280px;
}

#details-text{
    margin-top: 70px;
}

#video{
    margin-top: 30px;
}
