@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
    background-color: black;
}

header{
    height: 100%;
    background-image:url(images/background.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}


header .navbar-brand{
    padding-top: 1.2rem;
    font-size: 25px;
    color: whitesmoke;
    font-family: 'Bungee', cursive;
}

header a{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-size: 20px;
}

header #navbarPadding{
    margin-left:22rem;
}

header .nav-item{
    padding: 0.9rem;
    padding-top: 1.2rem;
}

header .row .col-md-6{
    padding: 35vmin 1vmin;
    padding-bottom: 40vmin;
}

.col-md-6 h4{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 22px;
    text-shadow: 2px 2px 4px black
}

.col-md-6 h1{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 300;
}

.col-md-6 h1 span{
    font-weight: bold;
}


.series h3{
    color: white;
}

#header_button{
    margin-top: 10px;
}

.pagination li a{
    background-color: black;
    color: white;
    border-color: black;
    font-size: 20px;
}

.movies h6{
    margin-top: 10px;
    color: whitesmoke;
    font-size: 15px;
}

.movies h4{
    color: rgb(148, 148, 148);
    font-size: 14px;
}

.movies img{
    margin-top: 30px;
    transition: .1.5s ease;   
}

.movies img:hover{   
    opacity: 0.5;
}

.search_header{
    margin-top: 30px;
}

#search{
    width: 250px;
    height: 40px;
}

footer{
    margin-top: 10rem;
}

/*Search Page*/
#results{
    margin-top: 12rem;
    color: whitesmoke;
    font-size: 22px;
}

/*Modal*/
.modal-content{
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    background-color: rgba(26, 26, 26, 0.85);
    background-blend-mode: darken;
    height: 650px;
    padding-right: 40px;
}

.info-layout{
    margin-top: 30px;
}
.modal img{
    width: 435px;
    height: 650px;
    margin-left: -15px;
}

.modal #genre{
    margin-top: 20px;
    color: #C5C5C5;
    font-size: 20px;
    font-weight: lighter;
}

.modal #title{
    color: whitesmoke;
    font-weight: bold;
}

.modal #rating{
    color: #C5C5C5;
    font-weight: lighter;
}

.modal #overview-text{
    margin-top: 55px;
    color: whitesmoke;
    font-weight: bold;
}

.modal #overview{
    color: whitesmoke;
    font-weight: lighter;
}

.modal #release{
    color: whitesmoke;
    font-weight: lighter;
    margin-top: 55px;
}

.modal #trailer{
    margin-top: 50px; 
}

.modal .video{
    margin-left: -18px;
}

.modal #trailer_not_avail{
    width: 1157px;
    height: 650px;
    margin: 0px;
}
